{{#> base }}

	{{> header aerzte=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image
			title="Die Sonne ging hinter dem Gebirge unter, und die Schatten wurden dunkler in den Wäldern, als sie wieder weitergingen. Ihre Pfade rührten nun in Dickichte, wo sich die Dämmerung schon sammelte."}}
			<p>Sehr geehrte Elben und Zwerge</p>
			<p>Nacht wurde es unter den Bäumen, während sie wanderten, und die Elben zündeten ihre silbernen Lampen an.</p>
			<p>Plötzlich kamen sie wieder ins Freie und standen unter einem blassen Abendhimmel, an dem einige frühe Sterne
				blinkten. Vor ihnen erstreckte sich eine weite, baumlose Fläche, die einen großen Kreis beschrieb und zu beiden
				Seiten abfiel. Dahinter lag in sanftem Schatten ein tiefer Graben, aber das Gras an seinem Rand war grün, als
				glühe es noch in der Erinnerung an die untergegangene Sonne. Auf der anderen Seite erhob sich zu großer Höhe
				eine grüne Mauer; sie umgab einen Berg, der dicht mit Mallornbäumen, größer als alle, die sie bisher in
				diesem Land gesehen hatten, bestanden war.</p>
		{{/text-link-image}}

		{{#> text-link-image title="Die Empfehlung lautet" }}
			<p>Ihre Höhe ließ sich nicht erraten, aber sie ragten in der Dämmerung empor wie lebende Türme.</p>
			<p>In ihren reichverzweigten Ästen und zwischen den sich unablässig bewegenden Blättern schimmerten un-
				zählige Lichter, grün, golden und silbern. Haldir wandte sich zu der Gemeinschaft um.</p>
			<p>»Willkommen in Caras Galadon!« sagte er. »Hier ist die Stadt der Galadrim, wo der Herr Celeborn und Galadriel,
				die Herrin von Lórien, wohnen. Doch können wir hier nicht hinein, weil die Tore nicht nach Norden schauen. Wir
				müssen herumgehen zur Südseite, und der Weg ist nicht kurz, denn die Stadt ist groß.«</p>
		{{/text-link-image}}

		{{#> text-link-image }}
			<table>
				<tbody>
				<tr>
					<th scope="col">Stadt</th>
					<th scope="col">Dauer</th>
					<th scope="col">Aufteilung nach Etappen<br>
					</th>
				</tr>
				<tr>
					<td>Bruchtal</td>
					<td>15 Tage</td>
					<td>Bree, Auenland, Brandywein-Brücke<br>
					</td>
				</tr>
				<tr>
					<td>Moria</td>
					<td>20 Tage</td>
					<td>Furt, Bruinen<br>
					</td>
				</tr>
				<tr>
					<td>Minas Tirith</td>
					<td>30 Tage</td>
					<td>Lorien, Rohan, Helms Klam, Rauros<br>
					</td>
				</tr>
				<tr>
					<td>Barad dur</td>
					<td>20 Tage</td>
					<td>Osgiliath<br>
						Schicksalsberg<br>
					</td>
				</tr>
				</tbody>
			</table>
		{{/text-link-image}}

		{{> line-space}}

		{{#> text-link-image }}
			<p>Eine mit weißen Steinen gepflasterte Straße führte am äußeren Rand des Grabens entlang. Auf dieser gingen sie
				nach Westen, während sich die Stadt wie eine grüne Wolke zu ihrer Linken erhob; und als die Nacht dunkler
				wurde, leuchteten immer mehr Lichter auf, bis der ganze Berg mit Sternen übersät zu sein schien.
			</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
