{{#> base }}

	{{> header aerztenetzwerke=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Am Fuße des Berges fand Frodo Aragorn, der still und schweigend
				wie ein Baum dastand; in seiner Hand hielt er eine kleine, goldene elanor- Blüte, und ein Licht leuchtete in
				seinen Augen.</p>
		{{/text-link-image}}

		{{#> text-link-image title="Kooperation mit der Elben" }}
			<p>Er war in irgendeiner schönen Erinnerung versunken; und als Frodo ihn ansah, wußte er, daß Aragorn Dinge
				schaute, wie sie einstmals an eben diesem Ort gewesen waren. Denn die bitteren Jahre waren ausgelöscht aus
				seinem Gesicht, und er schien in Weiß gekleidet zu sein, ein junger Ritter, groß und
				schön; und er richtete Worte in der Elbensprache an jemanden, den Frodo nicht sehen konnte.</p>
			<p>»Hier ist das Herz des Elbentums auf Erden«, sagte er, »und hier weilt mein Herz allezeit, es sei denn, ein
				Licht leuchtete jenseits der dunklen Wege, die wir noch gehen müssen, du und ich. Komm mit mir!« </p>
		{{/text-link-image}}

		{{#> text-link-image link="/ueber-uns/kontakt/kontaktformular.html"
												 link-title="Kontaktformular" }}
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
