{{#> base }}

	{{> header aerztenetzwerke=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Eine koordinierte Versorgung optimiert nicht nur den Behandlungspfad, sie fördert auch den fachlichen Austausch
				unter Ärzten.

			</p>
		{{/text-link-image}}

		{{#> text-link-image title="Kooperation mit Ärztenetzwerken" }}
			<p>In der Überzeugung, mit dieser Form der Zusammenarbeit in der Grundversorgung einen Beitrag zur
				Versorgungssicherheit zu leisten, engagiert sich die Mission Headless Verunsicherung in der Kooperation mit
				Ärztenetzwerken.</p>
			<p>Durch die optimale Betreuung - auch spezieller Patientenkollektive wie chronisch Kranke - resultieren
				Kostensenkungen, die wir durch einen reelen Kostenvergleich zwischen dem behandelten und einem
				Vergleichskollektiv entgelten.</p>
		{{/text-link-image}}

		{{#> text-link-image link="/ueber-uns/kontakt/kontaktformular.html"
												 link-title="Kontaktformular" }}
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
