{{#> base }}

	{{> header aerzte=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image
			title="Empfehlung zur Rechnungsstellung der endovenösen Thermo-Ablation von Stammvenen bei Varikose mit Radiofrequenz oder Laser"}}
			<p>Sehr geehrte Damen und Herren</p>
			<p>Per 01.01.2016 wurden endovenösen thermischen Verfahren (wie ELT und RFO - Laser und Radiowelle) in der
				Krankenpflege-Leistungsverordnung (KLV) als Pflichtleistungen aufgenom-men.</p>
			<p>Im anzuwendenden Tarifwerk TARMED 1.08 BR sind diese Leistungen allerdings nicht im Sinne der Einzelleistung
				beschrieben. Bereits kurz nach Veröffentlichung der ab 01.01.2016 gültigen Fassung der KLV hat die H+
				Geschäftsstelle mit Fachexperten der H+ Fachkommission Tarife & Verträge und informell mit der Gefässunion -
				einer Vereinigung von mehreren Facharztgesell-schaften sowie dem Tarifdienst der FMH Kontakt aufgenommen, um den
				Leistungserbringern eine sachgerechte Abrechnungsempfehlung abzugeben. Aus allen Informationen entstand die
				nachfolgende Empfehlung. Sie wendet bestehende TARMED-Positionen an und die Empfehlung ersetzt jene vom
				19.04.2016. Sie gilt bis zur ordentlichen Tarifierung als Einzelleistung oder bis auf Widerruf.</p>
		{{/text-link-image}}

		{{#> text-link-image title="Die Empfehlung lautet" }}
			<p>Für die endovenöse Thermo-Ablation im engeren Sinne sowie die entsprechende Vor- und Nachbereitung, unabhängig
				der Methode:</p>
			<p>TARMED Position 00.1620 „Behandlung durch den Facharzt für Angiologie, pro 5 Min.“</p>
			<p>Bei dieser Tarifposition mit der Sparte UBR Angiologie (Untersuchungs- und Behandlungsraum Angiologie) ist ein
				vergleichbarer Minuten-Kostensatz hinterlegt, wie er für die Tarifstruktur ats-tms für diesen Ort der
				Leistungserbringung (Sparte) aktuell ermittelt wurde. Bezüglich zeitlicher Abbildung sieht ats-tms ein Bezug zur
				Anzahl der behandelten Venen vor:</p>
		{{/text-link-image}}

		{{#> text-link-image }}
			<table>
				<tbody>
				<tr>
					<th scope="col">Eingriff</th>
					<th scope="col">Minuten total</th>
					<th scope="col">Aufteilung im Detail nach Vorschlag ats.tms<br>
					</th>
				</tr>
				<tr>
					<td>1 Vene (V. saphena magna oder parva)</td>
					<td>45</td>
					<td>15 Min. Vor- und Nachbereitung<br>
						+ 1 mal 30 Min. LieS<br>
					</td>
				</tr>
				<tr>
					<td>2 Venen (V. saphena magna oder parva)</td>
					<td>75</td>
					<td>15 Min. Vor- und Nachbereitung<br>
						+ 2 mal 30 Min. LieS<br>
					</td>
				</tr>
				<tr>
					<td>3 Venen (V. saphena magna oder parva)</td>
					<td>105</td>
					<td>15 Min. Vor- und Nachbereitung<br>
						+ 3 mal 30 Min. LieS<br>
					</td>
				</tr>
				<tr>
					<td>4 Venen (V. saphena magna oder parva)</td>
					<td>135</td>
					<td>15 Min. Vor- und Nachbereitung<br>
						+ 4 mal 30 Min. LieS<br>
					</td>
				</tr>
				</tbody>
			</table>
		{{/text-link-image}}

		{{> line-space}}

		{{#> text-link-image }}
			<p>Die Position 00.1620 wird entsprechend mit der effektiven Dauer, welche üblicherweise nicht über die obigen
				Minuten Total hinausgehen sollte, angewendet (ausgenommen Komplikationen).
			</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
