{{#> base }}

	{{> header hausaerzte=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image }}
			<p>Sie folgten ihm , als er leicht über die grasbewachsenen Hänge hinaufstieg. Obwohl Frodo lief und atmete
				und um ihn her lebende Blätter und Blumen von demselben kühlen Wind bewegt wurden, der sein Gesicht fächelte,
				hatte er das Gefühl, als sei er in einem zeitlosen Land, das nicht verging oder sich veränderte oder in
				Vergessenheit geriet.</p>
			<p>Wenn er fort war und wieder in die äußere Welt hinübergewechselt hatte, würde Frodo, der Wanderer aus dem
				Auenland, immer noch hier wandeln auf dem Gras zwischen elanor und niphredil im schönen Lothlórien.</p>
			<p>Sie betraten den Kreis der weißen Bäume. Der Südwind blies über Cerin Amroth und seufzte zwischen den
				Ästen. Frodo stand still und hörte in weiter Ferne große Wogen an Ufer branden, die vor langer Zeit hinweg-
				gewaschen worden waren, und er hörte Seevögel schreien, deren Art auf der Erde ausgestorben war.</p>
		{{/text-link-image}}

		{{#> text-link-image link="/ueber-uns/kontakt/kontaktformular.html"
												 link-title="Kontaktformular" }}
		{{/text-link-image}}

		{{#> text-link-image title="Häufige Fragen" }}
		{{/text-link-image}}

		{{> accordion accordion='
			{"items":
				[{
					"title": "Wie kam Haldir auf das hohe Flett?",
					"text": "<ol><li>Als Frodo sich anschickte, ihm zu folgen, legte er seine Hand neben der Leiter auf den Baum: niemals zuvor war ihm so plötzlich und deutlich zum Bewußtsein gekommen, wie sich die Rinde eines Baums anfühlt und wie sie und das Leben in ihr beschaffen sind.</li><li>Das Holz und die Berührung erfüllte ihn mit Freude, nicht mit der des Försters oder Schreiners; es war die Freude am lebendigen Baum selbst.<br></li></ol>"

				},
				{
					"title": "Wie drehte Haldir Frodos Hand nach Süden?",
					"text": "<p>Als er schließlich auf die hohe Plattform trat, nahm Haldir seine Hand und drehte ihn nach Süden. »Schau zuerst in dieser Richtung«, sagte er. Frodo sah, immer noch in einiger Entfernung, einen Berg aus vielen mächtigen Bäumen oder eine Stadt aus grünen Türmen: was von beiden es war, konnte er nicht sagen.</p>"
				},
				{
					"title": "Wo liegt die Festung von Süd-Düsterwald?",
					"text": "<p>»Sie ist umgeben von einem Wald aus dunklen Tannen, und die Bäume kämpfen miteinander, und ihre Zweige verrotten und verdorren. In der Mitte auf einer steinigen Höhe steht Dol Guldur, wo der verborgene Feind lange seine Behausung hatte. Wir fürchten, daß es jetzt wieder bewohnt ist, und mit siebenfacher Macht. In letzter Zeit hängt oft eine schwarze Wolke darüber. Auf dieser Höhe kannst du die beiden feindlichen Mächte sehen; und immer kämpfen sie jetzt in Gedanken miteinander, aber während das Licht den wahren Kern der Dunkelheit wahrnimmt, ist sein eigenes Geheimnis noch nicht entdeckt. Noch nicht.«</p>"
				}]
			}'
		}}

		{{> footer }}
	</main>

{{/ base }}
