{{#> base }}

{{> header hausaerzte=this }}
{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

<main role="main" class="container">

	{{> title }}

	{{#> text-link-image }}
		<p>In den Produkten Hausarztversicherung Profit und Hausarztversicherung FirstMed bestimmen die Versicherten bei Versicherungsabschluss ihren persönlichen Hausarzt.</p>
		<p>Durch die optimale Betreuung - auch spezieller Patientenkollektive wie chronisch Kranke - resultieren
			Kostensenkungen, die wir durch einen reelen Kostenvergleich zwischen dem behandelten und einem
			Vergleichskollektiv entgelten.</p>
		<p>Die Liste der Mission Headless-anerkannten Hausärzte beinhaltet ausschliesslich Grundversorger. Dazu gehören Allgemeine Innere Mediziner, praktische Ärzte sowie Kinder- und Jugendärzte. Die Liste wird laufend aktualisiert.</p>
	{{/text-link-image}}

	{{#> text-link-image link="/ueber-uns/kontakt/kontaktformular.html"
											 link-title="Kontaktformular" }}
	{{/text-link-image}}

	{{#> text-link-image title="Häufige Fragen" }}
		<h3>Wie kann ich auf die Hausarztliste aufgenommen werden?</h3>
		<ol>
			<li>Prüfen Sie ob Ihr Name auf der <a target="_blank" href="https://www.css.ch/de/home/gesundheit/gesund_werden/behandlung_arzt/docfinder.html">Ärzteliste</a> erscheint.</li>
			<li>Erscheint er nicht, können Sie sich via <a href="https://www.css.ch/de/kampagne/leistungserbringer/aerzte_zahnaerzte/hausaerzte/kontakt_hausarzt.html">Kontaktformular</a> aufnehmen lassen. Voraussetzung dafür ist, dass Sie Hausarztfunktionen übernehmen.<br>
			</li>
		</ol>
		<h3>Ich möchte meinen Aufnahmestatus ändern</h3>
		<p>Teilen Sie Ihren Aufnahmestatus per <a href="/ueber-uns/kontakt/kontaktformular.html">Kontaktformular</a> mit.</p>
		<h3>Ich möchte meine Praxisaufgabe melden und von der Ärzteliste gestrichen werden.</h3>
		<p>Nutzen Sie das <a href="/ueber-uns/kontakt/kontaktformular.html">Kontaktformular</a> und geben uns zusätzlich den Grund Ihrer Aufgabe und gegebenenfalls den Nachfolger an.<br>
		</p>
		<h3>Ich möchte meine Praxisadressänderung mitteilen.</h3>
		<p>Melden Sie die Adressänderung der <a href="https://www.sasis.ch/de/773" target="_blank">sasis AG</a>. Die Änderung wird danach bei uns übernommen.</p>
	{{/text-link-image}}

	{{> footer }}
</main>

{{/ base }}
