{{#> base }}

	{{> header tarmed=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Ihm schien es, als sei er durch ein hohes Fenster getreten, das auf eine verschwundene Welt blickt. Ein Licht
				lag auf ihr, für das seine Sprache keinen Namen hatte. Alles, was er sah,
				war wohlgeformt, aber die Formen schienen klar umrissen, als seien sie
				erst, als ihm die Augenbinde abgenommen wurde, ersonnen und geschaffen worden, und zugleich alt, als ob sie seit
				eh und je dagewesen waren.
			</p>
		{{/text-link-image}}

		{{#> text-link-image}}
			<p>Er sah keine Farben außer denen, die er kannte, Gold und Weiß und Blau und Grün, aber sie waren frisch und
				strahlend, als nehme er sie in diesem Augenblick zu erstenmal wahr und erfinde neue und wunderbare Namen für
				sie.
			</p>
		{{/text-link-image}}

		{{#> text-link-image title="Achtes Kapitel" }}
		{{/text-link-image}}

		{{> accordion accordion='
			{"items":
				[{
					"title": "Hier konnte im Winter kein Herz um Sommer oder Frühling trauern. ",
					"text": "<p>Kein Makel, kein Gebrechen, keine Mißbildung ließ sich an irgend etwas entdecken, das auf der Erde wuchs. Kein Fehl war am Lande Lórien.<p></p>Er wandte sich um und sah, daß Sam jetzt neben ihm stand, sich verblüfft umschaute und die Augen rieb, als ob er nicht sicher sei, daß er wach sei. </p>"

				},
				{
					"title": "Die Sonne scheint, und es ist gewißlich heller Tag",
					"text": "<p>»Die Sonne scheint, und es ist gewißlich heller Tag«, sagte er. »Ich dachte, daß Elben nur Mond und Sterne im Sinn hätten; aber das hier ist elbischer als alles, wovon ich je gehört habe.<p></p>Mir ist zumute, als sei ich innerhalb eines Liedes, wenn du weißt, was ich meine.«Haldir schaute sie an und schien beides zu verstehen, Sams Gedanken und seine Worte. Er lächelte. »Du spürst die Macht der Herrin der Galadrim«, sagte er. »Würde es euch Freude machen, mit mir den Cerin Amroth zu besteigen?«</p>"
				},
				{
					"title": "Abschied von Lorien",
					"text": "<p>An jenem Abend wurde die Gemeinschaft wieder in Celeborns Gemach gerufen, und dort begrüßten der Herr und die Herrin sie mit schönen Worten. Schließlich sprach Celeborn von ihrem Aufbruch.</p>"
				},
				{
					"title": "Wir haben uns über unseren Weg noch nicht entschieden",
					"text": "<p>Auf welcher Seite wollt Ihr wandern? Der Weg nach Minas Tirith liegt auf dieser Seite, auf der westlichen; doch der gerade Weg für die Aufgabe verläuft östlich des Stroms, auf dem dunkleren Ufer. Welches Ufer wollt Ihr nun wählen?«</p>"
				}]
			}'
		}}

		{{#> text-link-image}}
			<p></p>
			<p>»Wenn mein Rat beherzigt wird, dann wird es das westliche Ufer sein und der Weg nach Minas Tirith«, antwortete
				Boromir. »Doch bin ich nicht der Führer der Gemeinschaft.« Die anderen sagten nichts, und Aragorn sah
				unsicher und bekümmert aus.
			</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
