{{#> base }}

	{{> header zweitmeinungsarzt=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Die zunehmende Komplexität in der Medizin führt dazu, dass immer mehr Wege zu einem Behandlungsziel führen.
				Eine medizinische Zweitmeinung zeigt wo möglich Alternativen auf und hilft dem Patienten in seiner
				Entscheidungsfindung. Die Mission Headless Verunsicherung übernimmt dabei die Rolle des Koordinators und bietet ihren Kunden
				einen einfachen Weg zu einer qualifizierten Zweitmeinung. Dank der Digitalisierung der Prozesse sind alle
				Unterlagen durch den Zweitmeinungsarzt schnell, kostenlos und unkompliziert einsehbar. Der Datenschutz ist dabei
				immer gewährleistet.</p>
		{{/text-link-image}}

		{{#> text-link-image link="https://www.css.ch/de/home/gesundheit/ratgeber/aerztliche_zweitmeinung.html"
												 link-title='Zum Angebot "Zweitmeinung"' }}
		{{/text-link-image}}

		{{#> text-link-image title="Zweitmeinungsarzt werden" link="/ueber-uns/kontakt/kontaktformular.html"
												 link-title='Kontaktformular'}}
			<p>Sind Sie interessiert als Zweitmeinungsarzt mitzuwirken? Dann melden Sie sich bei uns.</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
