{{#> base }}

	{{> header zweitmeinungsarzt=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Oben wuchsen, wie eine Doppelkrone, zwei Baumkreise: die Bäume des äußeren Kreises hatten eine schneeweiße
				Rinde und waren blattlos, aber schön in ihrer ebenmäßigen Nacktheit: im inneren Kreis standen sehr hohe
				Mallornbäume; sie waren noch blaßgolden belaubt. Hoch zwischen den Ästen eines Baumes, der genau in der Mitte
				stand, leuchtete ein weißes Flett. Zu den Füßen der Bäume und überall auf den grünen Hängen des Hügels war
				das Gras mit kleinen, goldenen Blüten in Sternenform übersät. Zwischen ihnen, die auf schlanken Stengeln
				nickten, standen noch andere Blumen, weiß und ganz blaßgrün: sie schimmerten wie ein Nebel inmitten der satten
				Farbe des Grases. Über alledem war der Himmel blau, und die Nachmittagssonne glühte über dem Hügel und warf
				lange grüne Schatten unter den Bäumen.</p>
		{{/text-link-image}}

		{{#> text-link-image link="http://www.tolkienwelt.de/mittelerde.html"
												 link-title='Über Mittelerde' }}
		{{/text-link-image}}

		{{#> text-link-image title="Zweitmeinungsarzt werden" link="/ueber-uns/kontakt/kontaktformular.html"
												 link-title='Kontaktformular'}}
			<p>Sind Sie interessiert als Zweitmeinungsarzt mitzuwirken? Dann melden Sie sich bei uns.</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
