{{#> base }}

	{{> header gesundheitsprogramme=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Zuerst nahm er Gimlis Augenbinde ab. »Ich bitte um Vergebung!«
				sagte er und verbeugte sich tief. »Schau uns nun mit freundlichen Augen an! Blicke dich um und freu dich, denn
				du bist der erste Zwerg seit Dûrins Tagen, der die Bäume des Naith erblickt!«
			</p>
			<p>Als Frodo die Binde abgenommen wurde, schaute er auf und hielt den Atem an. Sie standen auf einem freien Platz.
				Links erhob sich ein großer Hügel, bedeckt mit einem Rasen so grün wie der Frühling in der Altvorderenzeit.
			</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
