{{#> base }}

	{{> header gesundheitsprogramme=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Wir möchten für unsere Kunden Gesundheitspartner sein, denn die Versorgung chronisch Kranker stellt für alle
				Beteiligten eine immer grösser werdende Herausforderung dar. Daher bieten wir unseren Versicherten
				Dienstleistungen an, welche die Eigenverantwortung und Gesundheitskompetenz fördern, ihre Gesundheit positiv
				beeinflussen oder (sekundär) präventiven Charakter haben. Diese Dienstleistungen stellen durch die vernetzte
				Zusammenarbeit medizinischer Leistungserbringer eine sinnvolle Ergänzung zur ärztlichen Grundversorgung dar und
				sind nachhaltig sowie ökonomisch.
			</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
