{{#> base }}

	{{> header integrierte-versorgung=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>»Auch bringen sie mir«, sagte Haldir, »eine Botschaft des Herrn und
				der Herrin der Galadrim. Ihr sollt alle mit unverbundenen Augen gehen, selbst der Zwerg Gimli. Offenbar weiß die
				Herrin, wer und was jedes Mitglied eurer Gruppe ist. Vielleicht sind neue Nachrichten aus Bruchtal
				eingetroffen.«
			</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
