.navbar {
	.logo {
		display: none;
	}
}

.navbar.show-logo {
	.logo {
		display: block;
	}
}

.meta-nav ul {
	display: flex;
	margin: 0;
	padding: 0;

	li {
		display: block;
		flex: 0 1 auto; /* Default */
		list-style-type: none;
		padding-left: 20px;
	}
}
