{{#> base }}

	{{> header kongresse=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Der Weg zu einem gemeinsamen – oder zumindest gegenseitigen – Verständnis führt über den Austausch von Ansichten und Überzeugungen. Wir bieten mit unserem Veranstaltungen Rahmen, der diesen Austausch ermöglicht und fördert.
			</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
