{{#> base }}

	{{> header kongresse=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Die plündernden Orks waren angegriffen und fast völlig aufgerieben worden; die Überlebenden waren nach
				Westen in Richtung auf das Gebirge entflohen und wurden verfolgt. Auch ein merkwürdiges Geschöpf war gesehen
				worden, das mit gebeugtem Rücken und den Händen dicht am Boden lief, wie ein Tier, und doch nicht von
				Tiergestalt. Es hatte sich nicht einfangen lassen, und sie hatten es nicht erschossen, weil sie nicht wußten, ob
				es gut oder böse war, und das Geschöpf war den Silberlauf abwärts nach Süden verschwunden.
			</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
