{{#> base }}

	{{> header kontakt=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Eine Elben-Heerschar war leise herangekommen; sie eilte an die nördlichen Grenzen, um sie gegen einen
				Angriff aus Moria zu schützen; und
				sie brachte Nachrichten mit, von denen Haldir einige weitergab.</p>
		{{/text-link-image}}

		{{> need-help }}

		{{> footer }}
	</main>

{{/ base }}
