{{#> base }}

	{{> header kontakt=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Haben Sie Fragen zur Zusammenarbeit mit der Mission Headless Verunsicherung? Gerne nehmen wir mit Ihnen Kontakt auf.</p>
		{{/text-link-image}}

		{{> need-help }}

		{{> footer }}
	</main>

{{/ base }}
