{{#> base }}

	{{> header kooperationen=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Am Morgen gingen sie ohne Hast wieder weiter. Mittags hielten sie an, und Frodo merkte, daß sie hinausgekommen
				waren in den Sonnenschein. Plötzlich hörte er den Klang vieler Stimmen um sich herum.
			</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
