{{#> base }}

	{{> header kooperationen=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Unsere enge Zusammenarbeit mit verschiedenen Partnern aus dem Gesundheitswesen erlaubt uns, unsere gemeinsamen
				Kunden auch im Krankheitsfall bestmöglich zu betreuen. Sie finden hier die verschiedenen Kooperationsformen und
				wie sie mit uns in Kontakt treten können.
			</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
