{{#> base }}

	{{> header qualitaet=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Seines Gesichtssinns beraubt, stellte Frodo fest, daß sein Gehör und andere Sinne geschärft waren. Er
				konnte die Bäume riechen und das Gras, auf dem sie gingen.
			</p>
		{{/text-link-image}}

		{{#> text-link-image title="Qualitätskennzahlen & Qualitätssicherung" }}
			<p>Er konnte im Rascheln der Blätter, im Murmeln des Flusses zu seiner Rechten und in den hellen, klaren
				Vogelstimmen am Himmel viele verschiedene Melodien hören. Er spürte die Sonne auf seinem Gesicht und seinen
				Händen, wenn sie über eine freie Lichtung kamen.
				Von dem Augenblick an, als er den Fuß auf das jenseitige Ufer des Silberlaufs gesetzt hatte, war er von einem
				seltsamen Gefühl befallen worden, und es verstärkte sich, als er jetzt weiter in den Naith hineinkam: ihm
				schien, er habe über eine Brücke der Zeit einen Winkel der Altvorderenzeit betreten und ergehe sich jetzt in
				einer Welt, die nicht mehr
				war.
			</p>
		{{/text-link-image}}

		{{#> text-link-image title="Transparenz der Qualität" }}
			<p>In Bruchtal lebte die Erinnerung an die alten Dinge; in Lórien lebten die alten Dinge noch in der lebendigen
				Welt. Böses hatte man dort gesehen und gehört und Leid erfahren; die Elben fürchteten die Welt draußen und
				mißtrauten ihr: Wölfe heulten an des Waldes Grenzen; doch auf dem Lande Lórien lag kein Schatten.
				<br>
				Den ganzen Tag über marschierten die Gefährten, bis sie den kühlen Abend kommen fühlten und den frühen
				Nachtwind zwischen vielen Blättern wispern hörten.
			</p>
		{{/text-link-image}}

		{{#> 50_50}}
			{{#> text-link-image
				link="/apotheken.html"
				link-title="Apotheken Mittelerde" }}
			{{/text-link-image}}
			{{> 50_50_divider}}
			{{#> text-link-image
				link="https://www.bag.admin.ch/bag/de/home/zahlen-und-statistiken/zahlen-fakten-zu-spitaelern/kennzahlen-der-schweizer-spitaeler.html"
				link-title="Spitäler Mittelerde" }}
			{{/text-link-image}}
		{{/50_50}}

		{{> footer }}
	</main>

{{/ base }}
