{{#> base }}

	{{> header aerzte_zahnaerzte=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Ach, welch ein Jammer um Lothlórien, das ich liebe! Es wäre ein armseliges Leben in einem Lande, wo kein
				Maliern wächst. Aber ob es jenseits des Großen Meers Mallornbäume gibt, hat keiner berichtet.«
			</p>
		{{/text-link-image}}

		{{#> text-link-image title="Programme der Mission Headless Verunsicherung" }}
			<p>Während sie so sprachen, ging die Gemeinschaft, geführt von Haldir, langsam im Gänsemarsch über die
				Waldwege, während der andere Elb hinterherging. Sie spürten, daß der Boden unter ihren Fußen eben und weich
				war, und nach einer Weile schritten sie ungezwungener aus und hatten keine Angst mehr, sich zu verletzen oder zu
				fallen.</p>
		{{/text-link-image}}

		{{#> text-link-image title="Formular für Tolkien"
												 link="http://www.tolkienwelt.de/footer/kontakt.html"
												 link-title="Formular für Tolkien" }}
			<p>Hast du Fragen, Anregungen zum Thema Tolkien? Dann fülle bitte folgendes Formular aus und sende es ab. Ich melde mich schnellstmöglich bei dir!</p>
		{{/text-link-image}}

		{{> teaser-download title='Unfallanzeige' downloadlist='
			{"items":
				[{
					"type": "pdf",
					"text": "Infos zu Galadriel",
					"link": "/assets/downloads/infos_galadriel.pdf"
				},
				{
					"type": "pdf",
					"text": "Infos zu Aragorn",
					"link": "/assets/downloads/infos_aragorn.pdf"
				}]
			}'
		}}

		{{> footer }}
	</main>

{{/ base }}
