{{#> base }}

	{{> header apotheken=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Die GaleniCare AG setzt sich seit Jahren für die Qualitätsförderung in ihren Apotheken ein. Sie hat zu diesem Zweck ein eigenes Qualitätsprüfungssystem eingeführt mit dem Ziel, die Qualität für ihre Kunden spürbar zu steigern.</p>
		{{/text-link-image}}

		{{#> text-link-image title="Qualitätsprüfungssystem"}}
			<p>Die GaleniCare AG setzt sich seit Jahren für die Qualitätsförderung in ihren Apotheken ein. Sie hat zu diesem Zweck ein eigenes Qualitätsprüfungssystem eingeführt mit dem Ziel, die Qualität für ihre Kunden spürbar zu steigern.</p>
		{{/text-link-image}}

		{{#> text-link-image image="/assets/images/Gute+Qualitaet+2017+-+2019.jpg"}}
		{{/text-link-image}}


		{{#> text-link-image title="Kontakt"}}
			<p>Sind auch Sie interessiert an einem Mission Headless-Qualitätsaufkleber? Dann melden Sie sich unter <a href="mailto:traditional@picturedesk.ch">traditional@picturedesk.ch</a></p>
		{{/text-link-image}}



		{{> footer }}
	</main>

{{/ base }}
