{{#> base }}

	{{> header apotheken=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Einige unter uns sagen in ihren Liedern, der Schatten werde sich zurückziehen und es werde wieder Frieden
				einkehren. Indes glaube ich nicht, daß die Welt um uns jemals wieder wie früher sein wird oder das Licht der
				Sonne so, wie es einstmals war.</p>
		{{/text-link-image}}

		{{#> text-link-image title="Qualität - Prüfungssystem"}}
			<p>Für die Elben, fürchte ich, wird es bestenfalls ein Waffenstillstand sein, während dessen sie ungehindert
				das Meer erreichen und Mittelerde für immer verlassen können.</p>
		{{/text-link-image}}

		{{#> text-link-image image="/assets/images/Gute+Qualitaet+2017+-+2019.jpg"}}
		{{/text-link-image}}


		{{#> text-link-image title="Kontakt"}}
			<p>Sind auch Sie interessiert an einem Mission Headless Verunsicherung-Qualitätsaufkleber? Dann melden Sie sich
				unter <a href="mailto:traditional@picturedesk.ch">traditional@picturedesk.ch</a></p>
		{{/text-link-image}}



		{{> footer }}
	</main>

{{/ base }}
