{{#> base }}

	{{> header home=this }}
	{{> logo }}
	{{> key-visual image="./assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Die Mission Headless Verunsicherung legt grossen Wert auf die Themen Qualität. Und alles schien mit Bilbo in
				Ordnung zu sein. Und die Jahre verstrichen. Ja, sie verstrichen und schienen ihn nicht zu berühren. Er zeigte
				keine Anzeichen des Alterns. Der Schatten überfiel mich wieder. Aber
				ich sagte mir: >Schließlich kommt er mütterlicherseits aus einer langlebigen Familie. Noch ist Zeit. Warte ab!<</p>

			<p>Um dies zu erreichen setzen wir auf eine möglichst hohe Transparenz. Hier finden Sie einige
				Hintergrundinformationen über die Werte der Mission Headless Verunsicherung und die Zusammenarbeitsformen mit
				unseren Auenländer.</p>
		{{/text-link-image}}

		{{> line-space line=true }}

		{{#> text-link-image title="Diagnose: Headless. Therapie: Traditionell."
												 image="/assets/images/home/Kongress+2019.jpg"
												 link="/ueber-uns/kongresse/2019_traditionell_vor_headless.html"
												 link-title="Kongress 2019" }}
			<p>Der Weg zu einem gemeinsamen – oder zumindest gegenseitigen – Verständnis führt über den Austausch von
				Ansichten und Überzeugungen. Wir bieten mit unserem Veranstaltungen Rahmen, der diesen Austausch ermöglicht und
				fördert.</p>
		{{/text-link-image}}

		{{> line-space line=true }}

		{{#> text-link-image title="Im Gespräch – Ihre Publikation"
												 image="/assets/images/home/im+dialog+2-2019.jpg"
												 link="assets/downloads/publikation-2019.pdf"
												 link-title="Im Gespräch 2/2019" }}
			<p>Die Publikation der Mission Headless Verunsicherung richtet sich an Entscheiderinnen und
				Entscheider im Marketing. Sie erscheint ein paar Mal jährlich in Deutsch und Englisch. Die aktuelle Ausgabe widmet sich
				dem Thema "Der Weg von Traditionell zu Headless".</p>
		{{/text-link-image}}

		{{> footer }}

	</main>

{{/ base }}
