{{#> base }}

	{{> header rechtliches=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Diese Erzählung wuchs und wuchs, während ich sie erzählte, bis sie zur Geschichte des Großen Ringkrieges
				wurde, in der immer wieder die noch ältere Geschichte flüchtig auftauchte. Ich hatte damit begonnen, kurz
				nachdem Der Hobbit geschrieben und noch ehe das Buch 1937 erschienen war; aber dann fuhr ich mit der Erzählung
				nicht fort, denn zuerst wollte ich die Mythologie und Legenden der Altvorderenzeit, die damals schon seit
				einigen Jahren Gestalt angenommen hatten, vervollständigen und ordnen. Das wollte ich gern zu meiner eigenen
				Freude tun, und ich hatte wenig Hoffnung, daß andere Leute sich für diese Arbeit interessieren würden, zumal
				sie in erster Linie sprachwissenschaftlich inspiriert war und ursprünglich darauf zielte, den notwendigen
				»geschichtlichen« Hin- tergrund für die Elbensprachen zu schaffen.
			</p>
		{{/text-link-image}}

		{{#> text-link-image title="Zeitalter" }}
			<p>Als jene, die ich um Rat und ihre Meinung befragte, mich berichtigten, daß nicht wenig Hoffnung, sondern gar
				keine Hoffnung bestünde, nahm
				ich dann die Erzählung wieder auf, ermutigt durch die Bitten von Lesern, ihnen mehr über Hobbits und ihre
				Abenteuer zu sagen. Aber die Dar- stellung wurde unwiderstehlich zur älteren Welt hingezogen und wurde
				gleichsam zu einem Bericht über deren Ende und Vergehen, bevor ihr Be- ginn und die Zwischenzeit erzählt
				waren. Dieser Vorgang hatte schon bei der Niederschrift des Hobbits eingesetzt, der bereits manche Hinweise auf
				die älteren Begebenheiten enthält: Elrond und Gondolin, die Hochelben und die Orks, und auch ungebeten wurden
				flüchtig Dinge sichtbar, die höher oder tiefer oder dunkler waren, als es äußerlich schien: Durin, Moria,
				Gandalf, der Geisterbeschwörer, der Ring. Als die Bedeutung die- ser flüchtigen Ausblicke und ihrer Beziehung
				zur ganz alten Geschichte einmal entdeckt war, enthüllte sich das Dritte Zeitalter und sein Höhe- punkt, der
				Ringkrieg.</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
