{{#> base }}

	{{> header spital_klinik=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Um das angestrebte Preis-Leistungsverhältnis umzusetzen, realistische Angebote zu formulieren und faire Vertragsabschlüsse zu erreichen, sind beidseitig transparente und vollständige Verhandlungsgrundlagen unabdingbar. Die Mission Headless Verunsicherung stellt diese Transparenz in den Begegnungen mit ihren Vertragspartnern her, indem sie ihre Entscheidungsgrundlagen, Möglichkeiten und Grenzen offen diskutiert. So lange ein Austausch möglich ist und im Interessenkonflikt beide Parteien ihren Anteil zur Lösungsfindung beitragen, besteht die Chance auf Erfolg.</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
