{{#> base }}

	{{> header spital_klinik=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Ein Sterblicher, Frodo, der einen der Großen Ringe besitzt, stirbt nicht,
				aber er wächst auch nicht und gewinnt nicht mehr Leben, sondern dehnt
				es bloß aus, bis zuletzt jede Minute eine Qual ist. Und wenn er den Ring
				oft benutzt, um sich unsichtbar zu machen, schwindet er, bis er schließlich ständig unsichtbar ist und im
				Zwielicht wandelt unter dem Auge der dunklen Macht, die die Ringe beherrscht.</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
