{{#> base }}

	{{> header ueberuns=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Vor langer Zeit wurden in Eregion viele Elbenringe hergestellt. Zauberringe, wie ihr sie nennt, und es gab
				natürlich verschiedene Arten: manche waren mehr und manche waren weniger wirksam. Die weniger wirksamen Ringen
				waren nur Versuche in der Kunst, ehe sie voll entwickelt
				war, und für die Elbenschmiede waren sie bloße Kleinigkeiten — und dennoch meiner Ansicht nach gefährlich für
				Sterbliche. Doch die Großen
				Ringe, die Ringe der Macht, waren verderbenbringend.
			</p>
		{{/text-link-image}}

		{{#> text-link-image title="Über die Mission Headless Verunsicherung Gruppe"
												 link="assets/downloads/die-gefaehrten.pdf"
												 link-title="Die Gefährten oder auch die Gemeinschaft des Rings" }}
			<p>Die Mission Headless Verunsicherung Gruppe mit Sitz in Hobbingen wurde 1953 gegründet. Das traditionsreiche
				Unternehmen hat rund 0.5
				Millionen Kunden und zählt einen Umsatz von 1 Milliarden Franken zu den führenden Auenländer
				Firmen.</p>
		{{/text-link-image}}

		{{> footer }}
	</main>

{{/ base }}
