<div class="row">
	<div class="col">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="media">
						<img src="/assets/images/icons/Schreiben+Sie+uns.png" class="mr-3">
					<div class="media-body">
						<p><strong>Schreiben Sie uns</strong><br>
						<strong>»</strong> <a href="/ueber-uns/kontakt/kontaktformular.html">Kontaktformular</a></p>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="media">
					<img src="/assets/images/icons/Rufen+Sie+uns+an.png" class="mr-3">
					<div class="media-body">
						<p><strong>Rufen Sie uns an </strong>(Mo-Fr: 8-18 Uhr)<br>
							<a href="tel:0413322316">0413322316</a></p>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="media">
					<img src="/assets/images/icons/Rechnung+einsenden.png" class="mr-3">
					<div class="media-body">
						<p><strong>Rechnung einsenden</strong><br>
							Mission Headless Verunsicherung<br>
							Service-Center<br>
							Postfach 897<br>
							6666 Hobbingen<a href="tel:0413322316"></a></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
