{{#> base }}

	{{> header 2019_ambulant_vor_stationaer=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Der Weg zu einem gemeinsamen – oder zumindest gegenseitigen – Verständnis führt über den Austausch von
				Ansichten und Überzeugungen. Wir bieten mit unserem Veranstaltungen Rahmen, der diesen Austausch ermöglicht und
				fördert.
			</p>
		{{/text-link-image}}

		{{#> text-link-image}}
			<p>Wie facettenreich das aktuelle Branchenthema "ambulant vor stationär" ist, wurde durch die vielfältigen,
				gehaltvollen Referate sowie angeregten Diskussionen bestätigt.</p>
			<p>Die Strasseninterviews, in denen unsere Kunden zu Wort kamen, haben aufgezeigt, dass die besprochenen
				Schwerpunkte und Fragen auch sie beschäftigen.</p>
			<p>Mit seinen Texten hat der Solokünstler Gerhard Meister uns ausserdem aufgezeigt, wie man das Thema auf
				kritisch-humorvolle Art zusammenfassen kann.</p>
			<p>Die Analyse der bestehenden Herausforderungen wie auch der Blick in die Vergangenheit zeigen, dass einer der
				wichtigsten Treiber unserer Branche der medizinische und technologische Fortschritt ist. Kaum jemand möchte auf
				diese medizinischen Errungenschaften verzichten. Und die Herausforderungen, die der Fortschritt mit sich bringt,
				kann nur durch den Austausch aller Interessenvertreter gelöst werden. Daher bedanken wir uns für Ihr Interesse
				und Ihre Teilnahme an unserem Anlass! Schön, dass Sie unsere Gäste waren.</p>
			<p>Möchten Sie das eine oder andere nachschauen? Hier finden Sie die Präsentationen und Bilder unserer
				Veranstaltung.</p>
		{{/text-link-image}}

		{{> teaser-download title='Downloads' downloadlist='
			{"items":
				[{
					"type": "pdf",
					"text": "Geschichte der Medizin",
					"link": "/assets/downloads/kongress_2019_praesentation_steinke.pdf"
				},
				{
					"type": "pdf",
					"text": "Blick über Grenzen",
					"link": "/assets/downloads/kongress_2019_praesentation_maurer.pdf"
				}]
			}'
		}}


		{{#> text-link-image title="Impressionen"}}{{/text-link-image}}

		{{#> 50_50}}
			{{#> text-link-image image="/assets/images/kongress/Impressionen+Kongress+-+4.+April+2019-1.jpg" }}
			{{/text-link-image}}
			{{> 50_50_divider}}
			{{#> text-link-image image="/assets/images/kongress/Impressionen+Kongress+-+4.+April+2019-2.jpg" }}
			{{/text-link-image}}
		{{/50_50}}

		{{> footer }}
	</main>

{{/ base }}
