{{#> base }}

	{{> header 2019_ambulant_vor_stationaer=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Der Weg zu einem gemeinsamen – oder zumindest gegenseitigen – Verständnis führt über den Austausch von
				Ansichten und Überzeugungen. Wir bieten mit unserem Veranstaltungen Rahmen, der diesen Austausch ermöglicht und
				fördert.
			</p>
		{{/text-link-image}}

		{{#> text-link-image}}
			<p>Und ich wartete. Bis zu jenem Abend, als er dieses Haus verließ. Was
				er damals sagte und tat, erfüllte mich mit einer Furcht, die kein Wort von
				Saruman beschwichtigen konnte. Ich erkannte endlich, daß etwas Dunkles
				und Tödliches am Werk war. Und die Jahre seitdem habe ich hauptsächlich damit verbracht, die Wahrheit herauszufinden.</p>
			<p>»Es ist doch nicht etwa ein dauernder Schaden angerichtet worden?«
				fragte Frodo besorgt. »Er wird doch wohl rechtzeitig wieder in Ordnung
				kommen? Ich meine, in Frieden ruhen können?«</p>
			<p>»Er fühlte sich sofort besser«, sagte Gandalf. »Doch gibt es nur eine
				Macht in der Welt, die alles über Ringe und ihre Wirkungen weiß, und
				soweit mit bekannt, gibt es keine Macht in der Welt, die alles über Hobbits weiß.</p>
			<p>Unter den Weisen bin ich der einzige, der sich mit Hobbitkunde befaßt: ein unbekannter Wissenszweig, aber voller Überraschungen.
				Weich wie Butter können sie sein, und doch bisweilen zäh wie alte Baumwurzeln. Ich halte es für wahrscheinlich, daß manche den Ringen weit
				länger widerstehen können, als die meisten Weisen vermuten würden.</p>
			<p>Über Bilbo, glaube ich, brauchst du dir keine Sorgen zu machen.
				Natürlich hat er den Ring viele Jahre besessen und ihn auch benutzt, so
				daß es einige Zeit dauern könnte, bis sich der Einfluß verliert — ehe es für
				ihn gefahrlos wäre, ihn wiederzusehen, zum Beispiel.</p>
		{{/text-link-image}}

		{{> teaser-download title='Downloads' downloadlist='
			{"items":
				[{
					"type": "pdf",
					"text": "Geschichte der Mission Headless",
					"link": "/assets/downloads/kongress_2019_1.pdf"
				},
				{
					"type": "pdf",
					"text": "Blick in die Tradition",
					"link": "/assets/downloads/kongress_2019_2.pdf"
				}]
			}'
		}}


		{{#> text-link-image title="Impressionen"}}{{/text-link-image}}

		{{#> 50_50}}
			{{#> text-link-image image="/assets/images/kongress/kongress_1.jpg" }}
			{{/text-link-image}}
			{{> 50_50_divider}}
			{{#> text-link-image image="/assets/images/kongress/kongress_2.jpg" }}
			{{/text-link-image}}
		{{/50_50}}

		{{> footer }}
	</main>

{{/ base }}
