{{#> base }}

	{{> header kontaktformular=this }}
	{{> key-visual image="/assets/images/header_subsites_leistungserbringer_desktop.jpg" }}

	<main role="main" class="container">

		{{> title }}

		{{#> text-link-image}}
			<p>Wünschen Sie weitere Informationen über die Zusammenarbeit mit der Mission Headless Verunsicherung? Oder haben Sie eine
				allgemeine Frage? Schreiben Sie uns! Gerne nehmen wir mit Ihnen Kontakt auf.
			</p>
			<p>Wie können wir helfen?
			</p>
		{{/text-link-image}}

		<form action="kontaktformular.html" method="post">
			<div class="form-group">
				<div class="custom-control custom-radio">
					<input type="radio" id="customRadio1" name="anrede" value="Frau" class="custom-control-input">
					<label class="custom-control-label" for="customRadio1">Frau</label>
				</div>
				<div class="custom-control custom-radio">
					<input type="radio" id="customRadio2" name="anrede" value="Herr" class="custom-control-input">
					<label class="custom-control-label" for="customRadio2">Herr</label>
				</div>
			</div>
			<div class="form-group">
				<label for="exampleFormControlInput1">Email Adresse</label>
				<input type="email" class="form-control" id="exampleFormControlInput1" required placeholder="name@example.com">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Ihre Frage*</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" required rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

		{{> footer }}
	</main>

{{/ base }}
